/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_form_steps.asp? */

/* Style the tab */

html {
	background-color: #e6b098;
	font-family: arial, helvetica, sans-serif;
	overflow: scroll;
	color: white;
	
}

#Pickup {
	display: none;
}

#Delivery {
	display: none;
}

#Home {
  background-color:  #e1a084;
  margin: 40px auto;
  text-align: center;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  color: white;
}

/* Style the form */
#regForm {
  background-color:  #e1a084;
  margin: 40px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  display: none;
}


/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
  background-color: #d7805b;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  opacity: 1;
  background-color: #b9572d;
}

h1 {
	font-size: 80px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: white

}

h2 {
	font-size: 40px;
	margin: 0;
	padding: 10px 0;
	font-weight: bold;
	color: white
}

h3 {
	font-size: 30px;
	margin: 0;
	padding: 10px 0;
	font-weight: bold;
	color: white
}

p {
	font-size: 30px;
	margin: 0;
	font-weight: normal;
	color: white
}

p1 {
	font-size: 25px;
	margin: 0;
	font-weight: bold;
	color: white
}

p2 {
	font-size: 25px;
	font-weight: normal;
	color: white
}


.rad {
	font-size: 25px;
	margin: 0;
	font-weight: normal;
	color: white;;
}

#displayProduct {
	font-size: 25px;
	margin: 0;
	font-weight: normal;
	color: white;
}


#dietSelect {
  text-align: left;
  width:540px;
  font-size: 25px;
  font-family: arial, helvetica, sans-serif;
  background-color: #d7805b;
  color: white
}

#addCart {
  background-color: #d7805b;
  position: relative
  display: inline-block;
  text-decoration: none;
  color: white;
  overflow: hidden;
  border: 2px solid #e7e7e7;
  cursor: pointer;
  padding: 12px 30px;
  transition: 0.3s;
  font-size: 25px;
  font-weight: bold;
}

#addCart:hover {
  background-color: #b9572d; 
  color: white;
}

/* Create an active/current tablink class */
#addCart.active {
   background-color: #b9572d; 
   color: white;
}

#prevBtn {
  background-color: #d7805b;
  position: relative
  display: inline-block;
  text-decoration: none;
  color: white;
  overflow: hidden;
  border: 2px solid #e7e7e7;
  cursor: pointer;
  padding: 12px 30px;
  transition: 0.3s;
  font-size: 25px;
  font-weight: bold;
}

#prevBtn:hover {
  background-color: #b9572d; 
  color: white;
}

/* Create an active/current tablink class */
#prevBtn.active {
   background-color: #b9572d; 
   color: white;
}

#nextBtn {
  background-color: #d7805b;
  position: relative
  display: inline-block;
  text-decoration: none;
  color: white;
  overflow: hidden;
  border: 2px solid #e7e7e7;
  cursor: pointer;
  padding: 12px 30px;
  transition: 0.3s;
  font-size: 25px;
  font-weight: bold;
}

#nextBtn:hover {
  background-color: #b9572d; 
  color: white;
}

/* Create an active/current tablink class */
#nextBtn.active {
   background-color: #b9572d; 
   color: white;
}

#getStarted {
  background-color: #d7805b;
  position: relative
  display: inline-block;
  text-decoration: none;
  color: white;
  overflow: hidden;
  border: 2px solid #e7e7e7;
  cursor: pointer;
  padding: 12px 30px;
  transition: 0.3s;
  font-size: 25px;
  font-weight: bold;
}

#getStarted:hover {
  background-color: #b9572d; 
  color: white;
}

/* Create an active/current tablink class */
#getStarted.active {
   background-color: #b9572d; 
   color: white;
}



.footer {
  text-align: right;
  color: white;
  font-style: italic;
  font-family: arial, helvetica, sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d7805b;
}

#signature {
  font-size: 20px;
}


.text {
	font-size: 25px;
	margin: 0;
	font-weight: normal;
	color: white;
}
